# 日志文件
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# node 模块文件
node_modules
dist
dist-ssr
*.local

# IDE 相关文件
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 设计稿、压缩包等显然没必要传到 Git 上的大文件
*.psd
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz
