# 用来强制指定 Node、pnpm 版本，且拒绝安装那些声明不支持当前 pnpm 或 Node 的包
engine-strict = true

# 强制将当前 registry 指定为 npmmirror.com，以防止 pnpm-lock.yaml 总是被改动
registry = https://registry.npmmirror.com

# 锁定 pnpm 版本，防止其与 package.json 中的 packageManager 不一致
package-manager-strict = true
package-manager-strict-version = true

# 自动安装 peerDependencies，减少手动配置的麻烦
auto-install-peers = true

# 在大型项目中，防止每次 install 时造成版本漂移
prefer-frozen-lockfile = true
